@font-face {
  font-family: 'backtoblack';
  src: url("../fonts/Back-to-Black.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'coolvetica-rg';
  src: url("../fonts/coolvetica-rg.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.backtoblackfont {
    font-family: 'backtoblack';
}
.coolvetica-rg {
    font-family: 'coolvetica-rg';
}
#logo {
    font-family: 'backtoblack';
    color: white;
    font-size: 3em;
}
.seccionSite {
    border: 0 !important;
}
.seccionSite .titulo_seccion {
    
}
.seccionSite .titulo_seccion h2 {
    padding: 1em 0 1em 0;
}
.softmedida_ul {
    text-align: justify;
}
.softmedida_ul li {
    list-style-type: circle;
    padding-bottom: 10px;
}

#home_grid_services {
    
}
#home_grid_services .feature-icon {
    
}
#home_grid_services .feature-icon img{
    width: 40%;   
}
#home_grid_services .servicio-item {
    text-align: center;
    padding: 2%;
}

.text-center {
    text-align: center !important;
}

/* Responsive Slide */

.rslides {
  margin: 0 auto 0px;
  }

#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

#download {
  background: #333;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 60px auto;
  max-width: 500px;
  padding: 20px;
  }

#download:hover {
  background: rgba(255,255,255,.15);
  }

/* Callback example */

.events {
  list-style: none;
  }

.callbacks_container {
  margin-bottom: 0px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 14px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 20px;
  margin: 0;
  max-width: none;
  text-align: center;
  font-weight: normal;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/nav_arrows.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}
.slide-btn {
    background: #fb8c00 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    margin-top: 1em;
    padding: 0.3em 2em;    
}

@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  .callbacks_nav {
    top: 47%;
    }
  }
  
  
  
  .changePageWithLink {
      
  }
  .changePageWithLink:hover{
      opacity: 0.8;
  }
  .FontBold {
      font-weight: bold;
  }
  .MarTop5 {
      margin-top: 5px;
  }
  .Fs20 {
      font-size: 20px;
  }
  .Fs40 {
      font-size: 40px;
  }
  .Fs50 {
      font-size: 50px;
  }
  .EmptyBox10 {
      display: block;
      height: 10px;
      overflow:  hidden;
      width: 100%;
  }
  .EmptyBox20 {
      display: block;
      height: 20px;
      overflow:  hidden;
      width: 100%;
  }
  .MarRight10 {
      margin-right: 10px;
  }
  .Fleft {
      float: left;
  }
  .Separator {
      border-bottom: 1px solid #e0e0e0;
      clear: both;
      height: 0;
      margin: 25px 0 20px;
      overflow: hidden;
      width: 100%;
  }
  .BordRadHalf {
      border-radius: 50%;
  }
  .SoftGrayBack {
      background-color: #f5f5f5;
  }
  .card-with-border {
      border: 1px solid #e0e0e0;
  }
  .Green {
      color: #43a047;
  }
  .Orange {
      color: #fb8c00;
  }
  .SoftBlue {
      color: #03a9f4;
  }
  .Blue {
      color: #0288d1;
  }
  .Pink {
      color: #ff4081;
  }
  .Purple {
      color: #8e24aa;
  }
  .White {
      color: #ffffff;
  }
  .OrangeBack {
      background-color: #fb8c00;
  }


  .ui-growl-message-info {
      background-color: #2f8ee5 !important;
      border-color: #2f8ee5 !important;
      color: #ffffff !important;
  }
  .ui-growl-message-warn {
      background-color: #f1b263 !important;
      border-color: #f1b263 !important;
      color: #ffffff !important;      
  }
  .ui-growl-message-error {
      background-color: #f06364 !important;
      border-color: #f06364 !important;
      color: #ffffff !important;      
  }
  .ui-growl-message-fatal {
      background-color: #2d353c !important;
      border-color: #2d353c !important;
      color: #ffffff !important;      
  }
  
  button.ui-button {
      padding: 5px 5px 5px 10px;
  }
  .ui-button {
      /*padding: 10px;*/
  }
  .ui-button .ui-button-text {
      display: inherit;      
  }
  
  .help-block {
    color: #f06364;
    font-size: 8pt;
  }
  
  .titulo .fa {
      font-size: 40px !important; 
      font-weight: bold;
  }
  .titulo h1 {
      font-size: 28px !important;
  }
  p-selectbutton.ui-state-error {
      border: none !important;
  }
  
  label {
      font-weight: bold;
  }
  .ui-fluid .ui-selectonemenu {
      /*width: 95%;*/
  }
  .ui-fluid .ui-selectonelistbox, .ui-fluid .ui-selectmanymenu {
      /*width: 95%;*/
  }
  
  .width_auto {
      width: auto !important;
  }
  .menu_index_tree {
      border: none;
  }
  .menu_index_tree tr td {
      border: none;
  }
  .bolded {
      font-weight: bold;
  }
  .visible {
      display: block !important;
  }
  
  
  .directory {
      cursor: pointer;
      color: #5f666c;
  }
  
  .file {
      cursor: pointer;
      color: #5f666c;
  }